html{
  -ms-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,SF Pro Text,SF Pro Display,SF Pro Icons,Helvetica,Arial,Microsoft YaHei,sans-serif;
  background-color: #fff;
  color: #102247;
  font-size: 16px;
  margin: 0;
}

a{
  text-decoration: none;
}

SVG{
  xmlns:"http://www.w3.org/2000/svg";
  version:"1.1";
}

/* 顶部导航 & About)_Me 主页样式 */

#motto{
  padding-top: 210px;
  width: 500px;
  position: absolute;
  left:47.3%;
  opacity: 0;
}

#motto-bg{
  padding-top: 150px;
  width: 364px;
  position: absolute;
  left:41.6%;
  opacity: 0;
}

div.nav{
  width: 100vw;
  height: 66px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 1px rgba(0,0,0,0);
  position: fixed;
  z-index: 5;
}

    div.nav div.logo{
      display: inline-block;
      padding-left: 32px;
      padding-top: 24px;
    }

        div.nav div.logo img.logo{
          width: 154px;
        }

    div.nav div.homepage_nav{
      padding-right: 56px;
      padding-top: 22px;
      float:right;
    }

        div.nav div.homepage_nav a{
          margin-left: 40px;
          color: #4a4a4a;
          font-size: 13px;
          font-weight: 500;
        }


div.header{
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  background-image: url('../images/header_bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

    div.header div.banner{
      position: relative;
      width: 1000px;
      height: 420px;
      margin: 0 auto;
      padding-top: 240px;
    }

    div.header div.banner img.banner{
      width: 500px;
      height: 300px;
    }

div.line_1{
  width: 1px;
  height: 120px;
  background-color: #999;
  position: absolute;
  top:93vh;
  left:50vw;
}


div.monologue{
  width: 261px;
  margin: 0 auto;
}

    div.monologue img{
      margin-top: 180px;
      width: 261px;
    }


div.line_2{
  width: 1px;
  height: 120px;
  background-color: #999;
  position: relative;
  top:100px;
  left:50vw;
}


div.photo{
  width: 1240px;
  height: 220px;
  background-color: #EBEFF6;
  background-image: url('../images/modeling_1.jpg');
  background-size: cover;
  margin: 180px auto 0;
}


div.introduce{
  width: 1240px;
  margin: 60px auto 0;
  text-align: center;
}

    div.introduce div.frist_line p{
      color: rgba(16, 34, 71, 0.8);
      display: inline;
    }

    div.introduce div.second_line p{
      font-size: 12px;
      color: rgba(16, 34, 71, 0.5);
      margin: 16px auto;
      line-height: 16px;
    }

    div.introduce div.third_line p{
      font-size: 12px;
      color: rgba(16, 34, 71, 0.5);
      margin: 60px auto 16px;
      line-height: 16px;
    }

    div.introduce div.fouth_line a{
      letter-spacing: 0.5px;
      color: rgba(16, 34, 71, 0.8);
      text-decoration: none;
      transition: all 150ms ease-out;
    }

        div.introduce div.fouth_line a:hover{
          color: #4771c6;
          text-decoration: underline;
        }

    div.introduce hr{
      margin: 60px 0 24px;
      height: 1px;
      background-color: rgba(0,0,0,0.1);
      border: none;
      width: 100%;
    }

    div.introduce p.copyright{
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 0.5px;
      margin: 24px;
    }

/* Design 主页样式 */

div.block{
  height: 10px;
  width:100vw;
}

div.design_content{
  margin: 100px auto 0;
  width: 1140px;
  display: flex;
  flex-wrap: wrap;
}

    div.design_content a.article{
      width: 340px;
      height: 240px;
      margin:0 20px 80px;
    }

        div.design_content a.article div.image{
          width: 340px;
          height: 186px;
          background-color: #eee;
          overflow: hidden;
        }

            div.design_content a.article div.image img{
              width: 340px;
              transition: transform 600ms ease;
            }

            div.design_content a.article:hover div.image img{
              transform: scale(1.1);
            }

        div.design_content a.article div.intro{
          font-size: 12px;
          color: rgba(16, 34, 72, 0.5);
        }

            div.design_content a.article div.intro p.title{
              font-size: 14px;
              color: #102247;
              margin-top: 20px;
              margin-bottom: 8px;
            }

            div.design_content a.article div.intro p{
              margin-top: 8px;
              margin-bottom: 8px;
            }

            div.design_content a.article div.intro p.date{
              opacity: 0.6;
            }


div.footer{
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

    div.footer hr{
      margin: 0 0 24px;
      height: 1px;
      background-color: rgba(0,0,0,0.1);
      border: none;
      width: 100%;
    }

    div.footer p.copyright{
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 0.5px;
      margin: 24px;
    }
