body{
  font-family: "SF Pro Text","SF Pro Display","SF Pro Icons",'PingHei', 'PingFang SC',"Helvetica Neue","Helvetica","Arial",'Microsoft YaHei',sans-serif;
  background-color: #fafafa;
  color: #333333;
  font-size: 16px;
  margin: 0px;
}

p{
  font-size: 14px;
  color: #333333;
}

SVG{
  xmlns:"http://www.w3.org/2000/svg";
  version:"1.1";
}

div.content{
  width: 1000px;
  margin: 0px auto;
}

div.header{
  width: 100%;
  margin-top: 80px;
}

  div.header img.flower{
    height: 40px;
  }

  div.header p.theme_poem{
    font-family: serif;
    opacity: 0.6;
  }

.blog{
  background-color: #ffffff;
  width: 1000px;
  height: 2000px;
  margin:60px auto 200px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05);
}
