html{
  -ms-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,SF Pro Text,SF Pro Display,SF Pro Icons,Helvetica,Arial,Microsoft YaHei,sans-serif;
  background-color: #fbfbfb;
  color: #333;
  font-size: 16px;
  margin: 0;
}

a{
  text-decoration: none;
}

SVG{
  xmlns:"http://www.w3.org/2000/svg";
  version:"1.1";
}

/* 顶部导航 & About)_Me 主页样式 */


div.nav{
  width: 100vw;
  height: 66px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 1px rgba(0,0,0,0);
  position: fixed;
  z-index: 5;
  -webkit-backdrop-filter: blur(10px);
}

    div.nav div.logo{
      display: inline-block;
      padding-left: 32px;
      padding-top: 24px;
    }

        div.nav div.logo a{
          padding:8px 12px;
        }

        div.nav div.logo img.logo{
          width: 154px;
        }

    div.nav div.homepage_nav{
      padding-right: 56px;
      padding-top: 22px;
      float:right;
    }

        div.nav div.homepage_nav a{
          margin-left: 24px;
          color: #4a4a4a;
          font-size: 13px;
          font-weight: 500;
          padding: 8px 12px;
          border-radius: 4px;
        }

        div.nav div.homepage_nav a:hover{
          background-color: rgba(0, 0, 0, .05);
          cursor: pointer;
          color: #333;
        }

div.header{
  width: 100vw;
  height: 100vh;
  background-color: #fefefe;
  background-image: url('../images/header_bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

    div.header div.motto{
      position: relative;
      margin: 0 auto;
      padding-top: 36vh;
    }

    div.header div.banner img.banner{
      width: 500px;
      height: 300px;
    }

    #motto{
      padding-top: 120px;
      width: 500px;
      position: absolute;
      left:55.3%;
      opacity: 0;
    }

    #motto-bg{
      padding-top: 60px;
      width: 364px;
      position: absolute;
      left:51%;
      opacity: 0;
    }


div.monologue{
  background-color: #202223;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-left: 20vw;
}

    div.monologue img.monologue_white{
      width: 261px;
      position: relative;
      top: -30vh;
    }

    div.monologue img.monologue_pic{
      width: 429px;
      height: 813px;
      margin-left: 20vw;
      position: relative;
      top: -15vh;
    }


/*
div.line_2{
  width: 1px;
  height: 120px;
  background-color: #999;
  position: relative;
  top:100px;
  left:50vw;
}
*/


div.photo{
  width: 1240px;
  height: 220px;
  background-color: #EBEFF6;
  background-image: url('../images/modeling_1.jpg');
  background-size: cover;
  margin: 180px auto 0;
}


div.introduce{
  width: 1240px;
  margin: 100px auto 0;
  text-align: center;
}

    div.introduce div.frist_line p{
      color: rgba(16, 34, 71, 0.8);
      display: inline;
    }

    div.introduce div.second_line p{
      font-size: 12px;
      color: rgba(16, 34, 71, 0.5);
      margin: 16px auto;
      line-height: 16px;
    }

    div.introduce div.opinion{
      width: 600px;
      margin: 80px auto 0;
    }

    div.introduce div.opinion p{
      width: 600px;
      font-size: 14px;
      color: rgba(16, 34, 71);
      opacity: 0.8;
      line-height: 28px;
    }

    div.introduce div.third_line p{
      font-size: 12px;
      color: rgba(16, 34, 71, 0.5);
      margin: 100px auto 16px;
      line-height: 16px;
    }

    div.introduce div.fouth_line a{
      letter-spacing: 0.5px;
      color: rgba(16, 34, 71, 0.8);
      text-decoration: none;
      transition: all 150ms ease-out;
    }

        div.introduce div.fouth_line a:hover{
          color: #4771c6;
          text-decoration: underline;
        }

    div.introduce hr{
      margin: 60px 0 24px;
      height: 1px;
      background-color: rgba(0,0,0,0.1);
      border: none;
      width: 100%;
    }

    div.introduce p.copyright{
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 0.5px;
      margin: 24px;
    }

/* Design 主页样式 */

div.block{
  height: 10px;
  width:100vw;
}

div.design_content{
  margin: 88px auto 0;
  width: 1188px;
  display: flex;
  flex-wrap: wrap;
}

    div.design_content a.article{
      width: 340px;
      /* height: 240px; */
      margin:0 16px 44px;
      padding: 12px;
      border-radius: 12px;
    }

    div.design_content a.article:hover{
      background-color: #f5f5f5;
      cursor: pointer;
    }

        div.design_content a.article div.image{
          width: 340px;
          height: 186px;
          background-color: #eee;
          overflow: hidden;
          border-radius: 8px;
        }

            div.design_content a.article div.image img{
              width: 340px;
              transition: transform 600ms ease;
            }

            div.design_content a.article:hover div.image img{
              transform: scale(1.05);
            }

        div.design_content a.article div.intro{
          font-size: 12px;
          color: rgba(16, 34, 72, 0.5);
        }

            div.design_content a.article div.intro p.title{
              font-size: 14px;
              font-weight: 500;
              color: #3c3c3c;
              margin-top: 20px;
              margin-bottom: 8px;
            }

            div.design_content a.article div.intro p{
              margin-top: 8px;
              margin-bottom: 8px;
            }

            div.design_content a.article div.intro p.date{
              opacity: 0.4;
              margin-bottom: 0px;
            }


div.footer{
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

    div.footer hr{
      margin: 0 0 24px;
      height: 1px;
      background-color: rgba(0,0,0,0.1);
      border: none;
      width: 100%;
    }

    div.footer p.copyright{
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 0.5px;
      margin: 24px;
    }
