html{
  -ms-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,SF Pro Text,SF Pro Display,SF Pro Icons,Helvetica,Arial,Microsoft YaHei,sans-serif;
  background-color: #fbfbfb;
  color: #333;
  font-size: 16px;
  margin: 0;
}

a{
  text-decoration: none;
}

SVG{
  xmlns:"http://www.w3.org/2000/svg";
  version:"1.1";
}

hr{
  margin: 24px 0;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  border: none;
  width: 100%;
}


div.nav{
  width: 100vw;
  height: 66px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 4px rgba(0,0,0,0);
  position: fixed;
  z-index: 5;
  -webkit-backdrop-filter: blur(10px);
}

    div.nav div.logo{
      display: inline-block;
      padding-left: 32px;
      padding-top: 24px;
    }

        div.nav div.logo a{
          padding:8px 12px;
        }

        div.nav div.logo img.logo{
          width: 154px;
        }

    div.nav div.homepage_nav{
      padding-right: 56px;
      padding-top: 22px;
      float:right;
    }

        div.nav div.homepage_nav a{
          margin-left: 24px;
          color: #4a4a4a;
          font-size: 13px;
          font-weight: 500;
          padding: 8px 12px;
          border-radius: 4px;
        }

        div.nav div.homepage_nav a:hover{
          background-color: rgba(0, 0, 0, .05);
          cursor: pointer;
          color: #333;
        }

div.content{
  width: 1000px;
  margin: 0px auto;
  padding-top: 120px;
}

    div.content img.img_display{
      width: 100%;
      margin: 24px 0;
      border-radius: 16px;
    }

        div.content img.img_display:first-child{
          margin-top: 0;
        }

    div.content p.copywriting{
      font-size: 14px;
      text-align: center;
      color: rgba(51, 51, 51);
      opacity: 0.8;
      line-height: 20px;
    }

    div.content div.design_display{
      position: relative;
      margin: 0 auto 12px;
      width: 1000px;
      height: 562px;
      background-color: #fff;
      overflow: hidden;
      border-radius: 16px;
    }

        div.content div.design_display .display{
          width: 1000px;
          opacity: 0;
          position: absolute;
          transition: all 0.5s ease;
        }

        div.content div.design_display .active{
          opacity: 1;
          z-index: 1;
        }

    div.content div.thumb_nav{
      margin: 0 auto;
      width: 1000px;
      height: 80px;
    }

        div.content div.thumb_nav div.no_scroll_design{
          width: 940px;
          height: 52px; /* 用这个div的溢出隐藏滚动条 */
          margin-left: 30px;
          overflow: hidden;
        }

        div.content div.thumb_nav div.scroll_box{
          position: relative;
          display: inline-block;
          top: -34px;
          width: 10px;
          opacity: 1;
          background-color: rgba(255, 255, 255, 0.3);
          transition: all 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
        }

            div.content div.thumb_nav div.no_scroll_design ul.designs{
              font-size: 0;
              width: 100%;
              height: 80px;  /* 80的高度是为了让滚动条溢出父级div空间 */
              margin: 0 auto;
              padding: 0;
              white-space: nowrap;
              overflow-y: hidden;
              overflow-x: scroll;
            }

                div.content div.thumb_nav div.no_scroll_design ul.designs li.designs{
                  display: inline-block;
                  margin-right: 12px;
                  width: 94px;
                  list-style: none;
                  cursor: pointer;
                }

                div.content div.thumb_nav div.no_scroll_design ul.designs li:last-child{
                  margin-right: 0px;
                }

                div.content div.thumb_nav div.no_scroll_design ul.designs li.designs::before{
                  z-index: 1;
                  position: relative;
                  content: '';
                  display: block;
                  width: 100%;
                  height: 0px;
                  background-color: #CCC;
                }

                div.content div.thumb_nav div.no_scroll_design ul.designs li.designs_hover::before{
                  background-color: #333;
                }

                div.content div.thumb_nav div.no_scroll_design ul.designs li.designs_chosen::before{
                  background-color: #333;
                }

                    div.content div.thumb_nav div.no_scroll_design ul.designs li.designs div.thumb_box{
                      overflow: hidden;
                      border-radius: 4px;
                      float: left;
                      margin-right: 12px;
                      width: 100%;
                      height: 52px;
                      opacity: 0.4;
                      align-items:center;
                      justify-content:center;
                      /* transform: translateY(-50px);*/
                      transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
                    }

                    div.content div.thumb_nav div.no_scroll_design ul.designs li.designs div.thumb_box:hover{
                      opacity: 1;
                    }

                    div.content div.thumb_nav div.no_scroll_design ul.designs li.designs div.thumb_box_hover{
                      opacity: 1;
                    }

                    div.content div.thumb_nav div.no_scroll_design ul.designs li.designs div.thumb_box img.thumb{
                      width: 94px;
                    }

   div.content .introduction{
     width: 100%;
     margin: 24px auto 0;
   }

      div.content .introduction p.text{
        font-size: 14px;
        line-height: 30px;
        opacity: 0.8;
      }

      div.content .introduction .members{
        margin: 80px auto 40px;
        width: 50%;
        float: left;
      }

          div.content .introduction .members .character{
            margin-bottom: 40px;
          }

              div.content .introduction .members .character .title{
                width: 160px;
                display: inline-block;
              }

                  div.content .introduction .members .character .title p:first-child{
                    font-size: 12px;
                    opacity: 0.7;
                    margin-bottom: 8px;
                  }

                  div.content .introduction .members .character .title p:last-child{
                    font-size: 13px;
                    margin-top: 8px;
                    opacity: 0.3;
                  }

  div.content .design_bottom{
    clear: both;
  }

    div.content .design_bottom div.navi{
      margin: 20px auto 80px;
    }

      div.content .design_bottom .navi .text_button{
      /*  position: relative;   */
      }

          div.content .design_bottom .navi .text_button a.previous{
            padding: 8px 12px;
            float:left;
            display: inline-flex;
            position: relative;
            left: -12px;
            cursor: pointer;
          }

            div.content .design_bottom .navi .text_button a.previous img{
              width: 8px;
              top: 1px;
              position: relative;
            }

            div.content .design_bottom .navi .text_button a.previous div{
              padding-left: 12px;
              color: #333;
              opacity: 1;
              transition:opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            div.content .design_bottom .navi .text_button a.previous div:hover{
              opacity: 0.7;
            }

          div.content .design_bottom .navi .text_button a.next{
            padding: 8px 12px;
            float:right;
            display: inline-flex;
            position: relative;
            right: -12px;
            cursor: pointer;
          }

            div.content .design_bottom .navi .text_button a.next img{
              width: 8px;
              top: 1px;
              position: relative;
            }

            div.content .design_bottom .navi .text_button a.next div{
              padding-right: 12px;
              color: #333;
              opacity: 1;
              transition:opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            div.content .design_bottom .navi .text_button a.next div:hover{
              opacity: 0.7;
            }

    div.content hr{
      margin: 40px 0 24px;
      height: 1px;
      background-color: rgba(0,0,0,0.1);
      border: none;
      width: 100%;
    }

    div.content p.copyright{
      opacity: 0.4;
      font-size: 12px;
      letter-spacing: 0.5px;
      margin: 24px;
      text-align: center;
    }


/* photo 专属样式 */
