html{
  -ms-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,SF Pro Text,SF Pro Display,SF Pro Icons,Helvetica,Arial,Microsoft YaHei,sans-serif;
  background-color: #fff;
  color: #333333;
  font-size: 16px;
  margin: -8px 0;
  overflow-x: hidden;
}

SVG{
  xmlns:"http://www.w3.org/2000/svg";
  version:"1.1";
}

p{
  font-size: 14px;
}

a.nav{
  text-decoration: none;
  color: #333333;
  opacity: 1;
  transition:opacity 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

a.nav:hover{
  opacity: 0.6;
}

a.connect{
  letter-spacing: 0.5px;
  color: #333;
  text-decoration: none;
  transition: all 150ms linear;
}

a.connect:hover{
  color: #4771c6;
  text-decoration: underline;
}

.p1{
  text-align: center;
  opacity: 0.8;
  letter-spacing: 0;
  line-height: 30px;
}

ul{
  height: 34px;
  margin:0;
  padding-top: 20px;
  padding-left: 0;
}

li.homepage_nav{
  line-height: 34px;
  list-style: none;
  float: left;
  padding-right: 36px;
}

.header{
  width: 100%;
  height: 760px;
  display: inline-block;
  background-color: #fcfcfc;
}

.content{
  width: 1000px;
  margin: 0px auto;
  position: relative;
}

.header .nav {
  height: 54px;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
}

.banner{
  width: auto;
  height: 420px;
  padding-top: 110px;
  padding-left: 30px;
}

#motto-bg{
  padding-top: 150px;
  width: 364px;
  position: absolute;
  left:44.6%;
  opacity: 0;
}

#motto{
  padding-top: 210px;
  width: 500px;
  position: absolute;
  left:47.3%;
  opacity: 0;
}

li.floatright{
  float: right;
  margin-right: -36px;
}

.blog{
  background-color: #ffffff;
  width: 1000px;
  height: 3000px;
  margin:100px auto 300px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05);
  overflow: hidden;
}

h1{
  letter-spacing: 2px;
  float: left;
}

h2{
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  margin:0 auto;
}

div.para .title{
  height: 160px;
  margin: 0 auto;
}

div.para{
  width: 100%;
  overflow: hidden;
}

  div.para .drag_box{
    margin-top: 16px;
    width: 1000px;
    height: 12px;
  }

  div.para .drag_box .drag{
    width: 100px;
    height: 2px;
    cursor: pointer;
    background-color: #333;
    transition: height 200ms ease;
    margin-bottom: 10px;
  }

  div.para .drag_box .drag:hover{
    height: 4px;
  }

  div.para .profile{
    margin-top: 50px;
    width: 1000px;
    height: 200px;
  /*  background-color: #edeff6;   */
    background-image: url('../images/yothan@2x.jpg');
    background-size: contain;
    position: relative;
  }

    div.para .profile div.explain{
      position: absolute;
      width: 100%;
      top: 18%;
      left: 46%;
    }

    div.para .profile p.explain{
      color: #9096a1;
      font-size: 12px;
    }

  div.para .pic{
    font-size: 0px;
    width: auto;
    height: 420px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

    div.para .pic .mix{
    margin-right: 8px;
    width: 260px;
    height: 380px;
    background-color: lightgrey;
    overflow: hidden;
    display:inline-block;
    cursor: pointer;
    }

.no_scroll{
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.no_scroll_design{
  width: 100%;
  height: 50px;
  overflow: hidden;
}

div.profile-text{
  width: 100%;
  margin-top: 40px;
}

  div.profile-text .left{
    width: 340px;
    float: left;
  }

  div.profile-text .right{
    margin-top: -20px;
    width: 540px;
    height: 246px;
    float: right;
  }

  div.profile-text p.name{
    margin: 0 0 28px;
    font-size: 24px;
    line-height: 24px;
  }

  div.profile-text p.fl{
    font-size: 14px;
    float: left;
    opacity: 0.8;
    margin: 0;
  }

h1.sub-title{
  margin: 100px 0 60px;
  font-size: 40px;
  font-weight: normal;
}

p.sub-title{
  font-size: 16px;
  opacity: 0.8;
  float: left;
  padding-top: 110px;
  padding-left: 15px;
  letter-spacing: 2px;
}

div.comment{
  width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}

  div.comment p.comment{
    margin: 50px 0 6px;
    letter-spacing: 0.5px;
    font-size: 14px;
    opacity: 0.8;
  }

p.text{
  font-size: 14px;
  line-height: 30px;
  opacity: 0.8;
}

p.describe{
  font-size: 12px;
  opacity: 0.4;
}

  p.describe .members{
    margin-top: 8px;
  }

p.no_margin{
  margin: 0;
}

div.footer{
  float: left;
  height: 210px;
  width: 100%;
}

  div.footer p.copyright{
    opacity: 0.4;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-top: 20px
  }

div.pic_cover{
  width: 260px;
  height: 380px;
  background-size: cover;
  transition: all,0.7s;
}

div.design_cover{
  width: 260px;
  height: 380px;
  background-color: rgba(0, 0, 0, 0);
  background-blend-mode: multiply;
  background-size: cover;
  transition: all,0.7s;
}

div.pic_cover_hover{
  transform: scale(1.1);
}

div.design_cover_hover{
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
}

p.pic_cover_title{
  font-size: 28px;
  position: relative;
  bottom: 90px;
  left: 20px;
  font-weight: 300;
  color: #fff;
}

p.design_cover_title{
  font-size: 28px;
  position: relative;
  bottom: 100px;
  left: 20px;
  font-weight: 300;
  color: #fff;
  opacity: 0;
}

p.cover_content{
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 12px;
  line-height: 22px;
  opacity: 0;
  position: relative;
  bottom: 110px;
  left: 20px;
  color: #fff;
}

#header_bg{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.content .backhome{
  margin-top: 8px;
  padding: 30px 0 60px;
}

.content .backhome p{
  float: right;
  margin: 0;
  opacity: 0.5;
}

img.homepage{
  height: 24px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

img.homepage:hover{
  opacity: 0.6;
}

hr{
  margin: 24px 0;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  border: none;
  width: 100%;
}

div.design_bottom{
  clear: both;
}

  div.design_bottom div.nav{
    margin: 40px auto 120px;
  }

    div.design_bottom .nav .subscript{
      height: 20px;
    }

    div.design_bottom .nav .text_button{
    /*  position: relative;   */
    }

      div.design_bottom .nav .text_button .previous{
        margin: 8px 0;
        float:left;
      }

        div.design_bottom .nav .text_button .previous img{
          width: 8px;
          top: 1px;
          position: relative;
        }

        div.design_bottom .nav .text_button .previous a{
          padding-left: 12px;
        }

      div.design_bottom .nav .text_button .next{
        margin: 8px 0;
        float:right;
      }

        div.design_bottom .nav .text_button .next img{
          width: 8px;
          top: 1px;
          position: relative;
        }

        div.design_bottom .nav .text_button .next a{
          padding-right: 12px;
        }

div.design_title div.label{
  margin: 18px auto 0;
  height: 20px;
}

img.thumb{
  width: 94px;
}
ul.designs{
  font-size: 0;
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}
li.designs{
  display: inline-block;
  margin-right: 12px;
  width: 94px;
  list-style: none;
  cursor: pointer;
}
div.thumb_box{
  overflow: hidden;
  float: left;
  margin-right: 12px;
  width: 100%;
  height: 50px;
  opacity: 0;
  align-items:center;
  justify-content:center;
  transform: translateY(-50px);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
div.thumb_box:hover{
  opacity: 0.5;
}
div.thumb_box_down{
  opacity: 1;
  transform: translateY(0px);
}
div.design_display{
  position: relative;
  margin: 40px auto 12px;
  width: 1000px;
  height: 562px;
  background-color: #fff;
  overflow: hidden;
}

  div.design_display .display{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.8s ease;
  }

  div.design_display .active{
    opacity: 1;
    z-index: 1;
  }

li.designs::before{
  z-index: 1;
  position: relative;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CCC;
}
li.designs_hover::before{
  background-color: #333;
}
li.designs_chosen::before{
  background-color: #333;
}
div.scroll_box{
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  transform: translateY(-50px);
  transition: all 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}

  div.scroll_box img{
    width:8px;
    margin: 18px 11px;
  }

div.scroll_box:hover{
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
div.scroll_box_down{
  opacity: 1;
  transform: translateY(0px);
}
div.thumb_nav{
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 1000px;
}

p.label{
  color: #333;
  padding: 4px 10px;
  margin: -8px 0 0 8px;
  border: 1px solid;
  border-color: #333;
  display: inline-block;
  float: right;
  border-radius: 2px;
  opacity: 0.8;
}

div.introduction{
  width: 100%;
  margin: 24px auto 0;
}

  div.introduction .members{
    margin:  80px auto 40px;
    width: 50%;
    float: left;
  }

    div.introduction .members .character{
      margin-bottom: 40px;
    }

      div.introduction .members .character .title{
        width: 160px;
        display: inline-block;
      }

      div.introduction .members .character .title p:first-child{
        font-size: 11px;
        opacity: 0.8;
        margin-bottom: 8px;
      }
