html{
  -ms-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #fbfbfb;
  color: #5a5a5a;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
}

a{
  text-decoration: none;
}

SVG{
  xmlns:"http://www.w3.org/2000/svg";
  version:"1.1";
}



div.homepage{
  width: 100vw;
  height: 100vh;
}

    div.homepage div.bg_image{
      position: absolute;
    }

        div.homepage div.bg_image img{
          object-fit: cover;
          width: 100vw;
          height: 100vh;
          position: absolute;
          z-index: -2;
          transform: scale(1.2);
          opacity: 0;
          transition: transform 5000ms ease, opacity 2000ms ease;
        }

            /*背景循环动画*/

            div.homepage div.bg_image img.active{
              z-index: -1;
              transform: scale(1);
              opacity: 1;
            }

    div.homepage div.logo{
      display: inline-block;
      padding-left: 32px;
      padding-top: 24px;
    }

        div.homepage div.logo a{
          padding:8px 12px;
        }

        div.homepage div.logo img.logo{
          width: 10vw;
        }

    div.homepage div.homepage_nav{
      padding-right: 40px;
      padding-top: 22px;
      float:right;
      }

        div.homepage div.homepage_nav a{
          margin-left: 24px;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          padding: 8px 12px;
          border-radius: 4px;
          letter-spacing: .6px;
          transition: all .3s ease;
        }

        div.homepage div.homepage_nav a:hover{
          background-color: rgba(0,0,0,.1);
          cursor: pointer;
        }

    div.homepage img.theme{
      height: 24vh;
      width: 28vw;
      top: 38vh;
      left: 36vw;
      position: absolute;
    }




/*
div.homepage div.bg_image img.active_2{
  opacity: 1;
  transition: opacity 2000ms ease;
}

/*
div.homepage div.bg_image img.active{
  animation: bg_animation 5s linear 0s infinite;
  -webkit-animation: bg_animation 5s linear 0s infinite;
  z-index: -1;
}

@keyframes bg_animation{
  0%   { transform: scale(1.2);}
  100% { transform: scale(1); }
}

@keyframes bg_animation{
  0%   { opacity: 0%;}
  40%  { opacity: 100%;}
  100% { opacity: 100%;}
}

@-webkit-keyframes bg_animation{
  0%   { transform: scale(1.2); opacity: 0%;}
  40%  { transform: scale(1.12); opacity: 100%;}
  100% { transform: scale(1); opacity: 100%}
}


/*背景循环动画*/
